/* 1. Reset/Base Styles */
body {
    width: 98%;
    margin: auto;
    background-color: #e6e6e6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* border: 4px solid blue; */
}

/* 2. Header */
header {
    background-color: rgba(226, 225, 225, 0.42);
}

/* 3. Main Content */
#main_content {
    background-color: white;
    /* border: 5px red solid ; */
}

/* 4. Recipe Section */
#recipe {
    display: flex;
    flex-direction: row;
}

#about-div {
    width: 60%;
    /* border: 4px green solid; */
}

#content-wrapper {
    width: 40%;
    /* border:4px red solid; */
}

hr {
    border-color: orange;
}

/* 5. Ingredients */
#ingredients ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

ul li {
    flex: 0 0 50%;
    padding-bottom: 1%;
    margin: 0;
    padding: 0;
}

ul li::before {
    content: '';
    background-image: url('../images/plus-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 2vh;
    width: 2vh;
    display: inline-block;
    margin-right: 8px;
    padding-left: 0;
}

/* 7. Directions */
ol {
    padding-top: 15px;
}

ol li {
    padding-bottom: 15px;
}

#save {
    border-radius: 2%;
    border-width: 0px;
    color: white;
    background-color: orange;
    width: 200px;
    height: 50px;
}

/* 8. Reviews */
#reviews {
    display: flex;
    gap: 20px;
}

#one,
#two,
#three {
    flex: 1;
    /* Equal width columns */
    border: 5px dotted orange;
    /* Add padding as needed */
}

#reviews section {
    padding: 15px;
}

#reviews img:first-child {
    border-radius: 50%;

    padding: 0;
    /* Set appropriate width/height */
}

#reviews div img {
    width: 2em;
}

#reviews p {
    padding-left: 20px;
    margin: 0;
}

#share img {
    width: 100px;
}

#number-reviews {
    color: gray;
}

/* Paragraphs Typography */
p {
    font-size: 1vw;
}

/* Headings */
h1 {
    font-size: 2.2vw;
}

h2 {
    font-size: 1.66vw;
}

h3 {
    font-size: 1.3vw;
}

/* Unordered list items */
ul li {
    font-size: 1.1vw;
}

/* Ordered list items */
ol li {
    font-size: 1.1vw;
}

/* Save button */
.save-button {
    /* or #save-button */
    font-size: 1.1vw;
}

/* Usernames in review section */
.username {
    font-size: 1.66vw;
}